<div class="wrapper">
    <app-header [appHeaderLabels]="headerLabels"></app-header>

    <app-nav-slider>
        <app-nav-list Menu [navList]="navList"></app-nav-list>
        <div Container class="content-panel">
            <router-outlet></router-outlet>
        </div>
    </app-nav-slider>

    <app-recently-visited-movies 
        [labels]="recentMovieVisitLabels"
        [recentMovies]="recentMovieVisits" 
        (selectedMovie)="onClickRecentlyVisitedMovie($event)">
    </app-recently-visited-movies>
</div>
