
<div class="recently-visited-movies">
    @if(recentMovies && recentMovies.length) {
        <span class="last-visited mat-h3">{{labels.lastVisitedLabel}}</span> 
        <mat-chip-set>
            @for(recentMovie of recentMovies; track $index) {
                <mat-chip (click)="selectMovie(recentMovie)">
                    <img matChipAvatar src={{recentMovie?.image?.url}} />
                    {{ recentMovie?.title }}
                </mat-chip>
            }
        </mat-chip-set>
    }
</div>

