$primary: #1dd3e4;
$accent: #b0bec5;
$white: #fff;
$red: #ff6d6d;
$app-background: #1d1d1d;
$header-background: #333;
$light-grey: #ccc;
$hover-bg: #909996;
$movie-card-bg: linear-gradient(#000000ed 11.2%, #3f3d3d 78.9%);
$transparent: transparent;